<div class="contents">
  <div class="nazotoki">
  <p><b>✏️かならずメモにかきうつして解こう！</b><br>
  １まいめのメモ</p>
  <%= image_tag '間違い探し.png', size: '300x300'%> 
    <div class="q1_1_1">
      <a href= "/answers/nazotoki1_2">①</a>
      <%= image_tag 'machigai_アートボード1.png', size: '50x50'%>
    </div>
    <div class="q1_1_2">
    とい２
    <%= image_tag 'machigai-02.png', size: '50x50'%>
    </div>

    <div class="q1_1_3">
    ３もんめ
    <%= image_tag 'machigai-03.png', size: '50x50'%>
    </div>

    <div class="q1_1_4">
    No.４
    <%= image_tag 'machigai-04.png', size: '50x50'%>
    </div>
  </div>
</div>
