<div class="contents">
  <div class="nazotoki">
  <br>
  <p><b>✏️メモにしたのもじをすべてかきうつそう！</b><br>
  １まいめのメモ</p>
  <%= image_tag '間違い探し.png', size: '300x300'%> 
    <div class="q1_1">
      <div class="q1_1_1">
      <a href= "/answers/nazotoki1_2">①</a>
      <%= image_tag 'machigai_アートボード01.png', size: '690x690'%>
      </div>
      <div class="q1_1_2">
      <a>とい２</a>
      <%= image_tag 'machigai-02.png', size: '690x690'%>
      </div>

      <div class="q1_1_3">
      <a>３もんめ</a>
      <%= image_tag 'machigai-03.png', size: '570x570'%>
      </div>

      <div class="q1_1_4">
      <a>No.４</a>
      <%= image_tag 'machigai-04.png', size: '590x590'%>
      </div>
    </div>
  </div>
</div>
