<div class="contents" background image>

  <div class="nazotoki">
  <br>
  <a>うわ！きゅうにどうぶつがたくさんでてきた!</a><br>
  <a>このメモにはふしぎなまほうでもかかっているのかな？</a>
  <br>
  <a>　　　２まいめのメモ</a>
    <div class="q1_2">
    <%= image_tag '文字文.png', size: '300x300' %>
      <div class="q1_2_0">
        <div class="q1_2_1">
          ①.
          <%= image_tag '文字1.png', size: '200x200' %>
          </div>
        <div class="q1_2_2">
          ②.
          <%= image_tag '文字2.png', size: '200x200' %>
        </div>

        <div class="q1_2_3">
          ③.
          <%= image_tag '文字3.png', size: '200x200' %>
        </div>

        <div class="q1_2_4">
          ④.
          <%= image_tag '文字4.png' , size: '200x200'%>
        </div>
        <div class="q1_2_5">
          <%= image_tag '文字5.png', size: '100x100' %>
        </div>
        <div class="q1_2_animal1">
          <%= image_tag '動物_アートボード1-1.png', size: '130x130' %>
        </div>
        <div class="q1_2_animal2">
          <%= image_tag '動物_アートボード1-2.png', size: '110x110' %>
        </div>
        <div class="q1_2_pengin">
          <a href="/answers/nazotoki1_3"><%= image_tag '動物-02.png', size: '50x50' %></a>
        </div>
      </div>
    </div>
      <a href="/answers/nazotoki1_1">1もんめにもどる</a><a>　　</a>
  </div>
</div>
