<!DOCTYPE html>
<html>
  <head>
    <title>NazotokiMemory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">なぞときメモリーの部屋</a></h1>
        <div class="user_nav grid-6">
          <a class="post" href="/answers/new">メモリーにおくる</a>
        </div>
      </div>

        </header>
            <%= yield %>
        <footer>
      <p>
        メモリーの謎解き部屋のTwitter 
      </p>
    </footer>
  </body>
</html>
